---
import SEO from "../components/SEO.astro";

---

<html lang="en">
	<head>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<SEO
			title="Astro"
			description="Projeto base em Astro com configuracao inicial de SEO."
			image="/favicon.svg"
		/>
	</head>
	<body>
		<h1>Astro</h1>
	</body>
</html>
